<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Jay Kaiser's 12 Day Mini Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./static", filename='style.css'">
  </head>
  <body>
    <div class="metanav">
      <h3>Enter a ticker and see last month's stock info. </h3>
      <h4>(Any unknown stock tickers will default to 'A'.) </h4>



	<form id='entryinfo' method='post' action='index' >
	   <p>
	   Ticker symbol: <input type='text' name='name_info' />
	   </p>

              <h4>Leave all checkboxes blank to graph all options. </h4>
	      <input type="checkbox" name="option" value="close"> Closing price<br>
	      <input type="checkbox" name="option" value="open"> Opening price<br>
	      <input type="checkbox" name="option" value="high"> High price<br>
	      <input type="checkbox" name="option" value="low"> Low price<br>
	      <input type="checkbox" name="option" value="adj_close"> Adjusted closing price<br>
	      <input type="checkbox" name="option" value="adj_open"> Adjusted opening price<br>
	      <input type="checkbox" name="option" value="adj_high"> Adjusted high price<br>
	      <input type="checkbox" name="option" value="adj_low"> Adjusted low price<br><br><br>

              <input type="checkbox" name="all_data" value="all_values"> Check if you  want to see all data (not just last month's).<br>
	   <p>
	   <input type='submit' value='Submit' />
	   </p>
	</form>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

